body {
background-color: yellowgreen;
color: white;
}

p {
    color: black;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.box {
    background-color: grey;
}

a:link {
    color: aqua;
}

.title {
    color: black;
}

.lead {
font-style: italic;
}